.box{
    border: 2px solid rgb(250, 0, 0);
    width: 20rem;
    height: 5rem;
    margin-bottom: 10rem;

}
.first{
    overflow: visible;
    
}
.second{
    overflow: auto;
}
.third{
    overflow: hidden;
}
.fourth{
    overflow: scroll;
}