body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header.banner .bg {
  background-image: url("./assets/img/tree.png");
  background-size: cover;
  color: white;
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
}
h1 {
  margin-top: 20rem;
}
