.container {
    background-color: yellowgreen;
    display: flex;
    /*! Elemanların diziliş yönü : column, row, row-reverse, column-reverse*/
    flex-direction: row;
  
    /*? sıkıştırma veya alt satıra geçebilme:flex-wrap: wrap, nowrap, wrap-reverse*/
    flex-wrap: nowrap;
  
    /*! Yatay Hizalama: Justify-center
    /** flex-start, flex-end,center, space-around,space-evenly, space-between*/
    justify-content: space-evenly;
    /* gap:10px 30px ; */
  }
  
  .container div {
    width: 5rem;
    height: 5rem;
    background-color: violet;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container1{
    height: 20rem;
    background-color: lightcoral;
    display: flex;
    gap: 10px 30px;
    justify-content: center;
    align-content: center;
    flex-direction: row; 
    flex-wrap: wrap;
    
  }
  /* .container1 div:nth-child(2){
    flex-grow: 10;
  }
  .container1 div:nth-child(4){
    flex-shrink: 8;
  } */

  .container1 div{
    height: 5rem;
    width: 5rem;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .