.a{
    background-color: brown;
    width: 20%;
    transform: translateX(100px);
    /* margin: 20em auto; */
}
.b{
    background-color: blue;
    width: 20%;
    transform: rotate(45deg);
}
.c{
    background-color: blueviolet;
    width: 20%;
    margin: 80px 0;
    transform: scale(1,2);
}
.d{
    background-color: red;
    width: 20%;
    transition:all 2s;
}
.d:hover{
    background-color: aqua;
    transform: translateX(100px);
}
.e{
    /* font-weight: bold;
    font-size: 50px;
    background-color: chocolate;
    width: 5em; */
    border: 2px solid blue;
    
    
}
.e h1{
    background-color: black;
    color: white;
    width: 6em;
    border: 1px solid red;
   
}
ul{
    /* display: none; */
    font-size: 20px;
    background-color: white;
    border: 2px solid black;
    margin-top: -24px;
    width: 9em;
    transition:all 2s; 
     
}
.e:hover ul{
    transform: translateY(20px);  
    /* display: block; */
    /* display: block; */
    
}


.transform {
    width: 100px;
    height: 50px;
    background-color: rgb(221, 100, 237);
    color: white;
    text-align: center;
    margin: 50px;
    padding: 10px;
    transition: transform 2s;
    }
    .x:hover {
    transform: translateX(50px);
    }
    .y:hover {
    transform: translateY(50px);
    }
    .xy:hover {
    transform: translate(50px, -50px);
    }
    button{
        border: 2px solid red;
        width: 18em;
        height: 5em;
        border-radius: 30px;
        background-color: rgb(56, 56, 56);
        color: white;
        transition: all 2s;
    }
    button:hover{
        background-color: rgb(226, 175, 47);
        color: black;
        border: 2px solid black;
        /* transform: rotate(30deg); */
        transform: translate(50px,50px);
    }
    